.checkoutProduct {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    /* background-color: yellow; */
  }
  
  .checkoutProduct > img {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }
  
  .checkoutProduct_info {
    padding-left: 20px;
  }
  
  .checkoutProduct_title {
    font-size: 18px;
    font-weight: 700;
  }
  
  .checkoutProduct_price {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .checkoutProduct_price > small {
    font-size: 14px;
    color: #555;
  }
  
  .checkoutProduct_rating {
    display: flex;
    margin-top: 10px;
  }
  
  .checkoutProduct_rating > p {
    margin-right: 5px;
    color: #f0c14b;
  }
  
  .checkoutProduct_button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
   
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
  }
  
  .checkoutProduct_button:hover {
    background-color: #ddb347;
  }
  